body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100vh;
}

#baseplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: #2d2d2e;;
}

.userRow{
    border-style: solid;
    border-color: black;
    background-color: grey;
    width: 370px;
    height: 100px;
    margin: 10px;
}

.row1, .row2, .row3,
.row4, .row5{
    display:flex;
    justify-content: center;
    align-items: space-between;
    width: 350px;
    height: 50px;
    margin: 10px;
    gap: 3px
}

button{
    width: 80px;
    height: 65px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}

#zero{
    width: 163px;
}





